<?xml version="1.0"?>
<interfaces>
  <interface>
    <fileName>
      <name>full_(customer)_([a-z]{2})_(\d{8}_\d{6})\.dat</name>
      <fileInterface>1</fileInterface>
      <subGroup>2</subGroup>
      <dateTimeGroup>3</dateTimeGroup>
    </fileName>
    <group>customer</group>
    <concatinateMultiple>true</concatinateMultiple>
    <mode>full</mode>
    <critical>true</critical>
    <fields>
      <field>
        <name>customer_id</name>
        <length>8</length>
        <type>string</type>
      </field>
      <field>
        <name>firstname</name>
        <length>100</length>
        <type>string</type>
      </field>
      <field>
        <name>surname</name>
        <length>100</length>
        <type>string</type>
      </field>
      <field>
        <name>eye_colour</name>
        <length>100</length>
        <type>string</type>
      </field>
      <field>
        <name>sex</name>
        <length>1</length>
        <type>string</type>
      </field>
    </fields>
  </interface>
</interfaces>
